@font-face {
  font-family: 'Fira sans light';
  src: url("../fonts/firasans-light.ttf");
}

@font-face {
  font-family: 'Fira sans medium';
  src: url("../fonts/firasans-medium.ttf");
}

@font-face {
  font-family: 'Gilroy light';
  src: url("../fonts/gilroy-light.otf");
}

@font-face {
  font-family: 'Gilroy extra bold';
  src: url("../fonts/gilroy-extrabold.otf");
}
